<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="preloader">
        <div class="loading">
            <p>Загрузка</p>
            <span></span>
        </div>
    </div>

    <main id="content" class="calc-content">
        <div class="row">
        <h1 class="h1_title">Калькулятор расчета</h1>
        </div>
        <div class="calc_wrapper" id="app">
                <div class="calc_top_bar">
                    <div class="steps_info">
                        Шаг <span class="current_step">{{currentStep}}</span> из 8: <span class="current_section">{{stepChoose[currentStep-1]}}</span>
                    </div>
                    <div class="steps_circles">
                        <div class="step_circle active"></div>
                        <div class="step_circle"></div>
                        <div class="step_circle"></div>
                        <div class="step_circle"></div>
                        <div class="step_circle"></div>
                        <div class="step_circle"></div>
                        <div class="step_circle"></div>
                        <div class="step_circle"></div>
                    </div>
                </div>
        
                <div class="options_section" v-if="currentStep == 1">
                    <div class="option_element"  
                        v-for="roof in roofs" 
                        :key="roof.code" 
                        :class="{ active: result.shape == roof.name }" 
                        :data-roof="roof.pathName" 
                        @click="mainRoof = roof.pathName,result.shape = roof.name,fullImage(roof.code, '/'),CleanCounters()"
                    >
                        <img :src="`${imgPath + roof.pathName}/${roof.code}.png`">
                        <p class="title">{{roof.name}}</p>
                    </div>         
                </div>

                <div class="options_section" v-if="currentStep == 2">
                    <div class="option_element"  
                        v-for="material in params.materials" 
                        :key="material.code"  
                        :class="{ active: result.material == material.name }" 
                        @click="optionsCodes.material_code = material.code,
                        result.material = material.name,
                        fullImage(material.code, '/material/'),
                        CleanCounters()
                        "
                    >
                        <img v-lazy="`${imgPath + mainRoof}/material/${material.code}.png`">
                        <p class="title">{{material.name}}</p>
                    </div>   
                </div>

                <div class="options_section" v-if="currentStep == 3">
                    <div class="option_element"  
                        v-for="konek in params.konek" 
                        :key="konek.code" 
                        :class="{ active: result.skate == konek.name }"  
                        @click="optionsCodes.kon_code = konek.code,
                        result.skate = konek.name,
                        fullImage(konek.code, '/konek/'),
                        CleanCounters()
                        "
                    >
                        <img v-lazy="`${imgPath + mainRoof}/konek/${optionsCodes.material_code}/${konek.code}.png`">
                        <p class="title">{{konek.name}}</p>
                    </div>   
                </div>

                <div class="options_section" v-if="currentStep == 4">
                    <div class="option_element"  
                        v-for="chimney in params.chimneys" 
                        :key="chimney.code"  
                        :class="{ active: result.chimney == chimney.name }"
                        @click="optionsCodes.chimney_code = chimney.code,
                        result.chimney = chimney.name,
                        fullImage(`${optionsCodes.material_code}-${konPath + chimney.code}`, '/chimney/'),
                        CleanCounters()
                        "
                    >
                        <img v-lazy="`${imgPath + mainRoof}/chimney/${optionsCodes.material_code}-${konPath + chimney.code}.png`">
                        <p class="title">{{chimney.name}}</p>
                    </div> 
                    <p class="steps_info" style="margin: 40px 0 20px 0;">Материал кровельных надстроек. Варианты</p>  
                    <div class="cr_mat">
                        <div class="cr_element" 
                            v-for="structure in params.superstructures" 
                            :key="structure.name"  
                            :class="{ active: result.superstructures == structure.name }"
                            :title="structure.name"
                            @click="result.superstructures = structure.name"
                        >
                            <img v-lazy="structure.img">
                            <span>{{structure.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="options_section" v-if="currentStep == 5">
                    <div class="option_element"  
                        v-for="front in params.front" 
                        :key="front.code" 
                        :class="{ active: result.facade == front.name }" 
                        @click="optionsCodes.front_code = front.code,
                        result.facade = front.name,
                        fullImage(`${optionsCodes.material_code}-${konPath + optionsCodes.chimney_code}-${front.code}`, '/front/')
                        "
                    >
                        <img v-lazy="`${imgPath + mainRoof}/front/${optionsCodes.material_code}-${konPath + optionsCodes.chimney_code}-${front.code}.png`">
                        <p class="title">{{front.name}}</p>
                    </div> 
                </div>

                <div class="options_section" v-if="currentStep == 6">
                    <div class="zamery">
                        <label>
                            <span>Замер R1 (Длина конька,м)</span>
                            <input type="number" name="zamer-1" value="measurements.skate_length"
                            v-model.number="measurements.skate_length"
                            >
                        </label>
                        <label>
                            <span>Замер R2 (Высота дома,м)</span>
                            <input type="number" name="zamer-2" value="measurements.house_height"
                            v-model.number="measurements.house_height"
                            >
                        </label>
                        <label class="skat" v-if="mainRoof != 'Sharovaya'">
                            <span>Замер R3 (Длина ската,м)</span>
                            <input type="number" name="zamer-3" value="measurements.slope_length"
                            v-model.number="measurements.slope_length"
                            >
                        </label>
                        <label>
                            <span>{{num[0]}} Расстояние от конька до первого дымохода,м</span>
                            <input type="number" name="zamer-4" value="measurements.first_chi_length"
                            v-model.number="measurements.first_chi_length"
                            >
                        </label>
                        <label class="hidden two_chi">
                            <span>{{num[1]}} Расстояние от конька до второго дымохода,м</span>
                            <input type="number" name="zamer-5" value="measurements.second_chi_length"
                            v-model.number="measurements.second_chi_length"
                            >
                        </label>
                        <label class="hidden three_chi">
                            <span>{{num[2]}} Расстояние от конька до третего дымохода,м</span>
                            <input type="number" name="zamer-6" value="measurements.third_chi_length"
                            v-model.number="measurements.third_chi_length"
                            >
                        </label>
                    </div>
                    <p class="steps_info" style="margin: 40px 0 20px 0;">Тип грунта:</p>
                    <div class="ground_wrapper">
                        <label 
                            v-for="grunt in params.grunt" 
                            :key="grunt.name"
                        >
                            <input type="radio" name="ground" :value="grunt.name"
                                v-model.number="result.priming"
                            >
                            {{grunt.name}}
                        </label>
                    </div>
                </div>

                <div class="options_section" v-if="currentStep == 7">
                    <p class="steps_info" style="margin: 40px 0 20px 0;">Способ ввода электропроводки в здание:</p>
                    <div class="ground_wrapper system">
                        <label
                            v-for="grounding in params.grounding" 
                            :key="grounding.name"
                        >
                        <input type="radio" name="gs" :value="grounding.name"
                            v-model.number="result.grounding_sustem"
                        >
                        {{grounding.name}}
                    </label>
                    </div>
                    <p class="steps_info" style="margin: 40px 0 20px 0;">Количество проводов:</p>
                    <div class="ground_wrapper wires">
                        <label
                            v-for="wires in params.wires" 
                            :key="wires.name"
                        >
                            <input type="radio" name="wires" :value="wires.name"
                                v-model.number="result.wires"
                            >
                        {{wires.name}}
                        </label>
                    </div>
                </div>

                <div class="options_section" v-if="currentStep == 8">
                    
                    <div class="result_tabel" >
                        <div class="requisites" id="requisites">
                            <p>ООО "ТерраЦинк"</p>
                            <p>Юридический адрес: 223050, Минская область, Минский район, Колодищанский с/с, 175, район агрогородка Колодищи, кабинет 209. Почтовый адрес: 223050 Минская обл., Минский район, пос. Колодищи ул. Парковая 17.</p>
                            <p>УНП 691788197</p>
                            <p><strong>Банк получатель: </strong></p>
                            <p>Приорбанк ОАО ЦБУ 117 220141, г. Минск, пр. Независимости, 172 (PRIORBANK, MINSK, REPUBLIC OF BELARUS)</p>
                            <p>Р/с бел.руб: BY64PJCB30120599061000000933</p>
                            <p>BIC SWIFT: PJCBBY2X</p>
                        </div>
                        <p class="bold">Товарный чек</p>
                        <table id="result_table">
                            <thead>
                                <tr>
                                    <td>№</td>
                                    <td class="name">Наименование <br> товара</td>
                                    <td class="ed">ед. <br> изм.</td>
                                    <td class="count">Коли-<br>чество</td>
                                    <td class="count">Цена с НДС, <br>BYN</td>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {{resultTable()}}
                                <tr class="resLine">
                                    <td class="pos"></td>
                                    <td class="name">{{resultList.holder[result.material].name}}</td>
                                    <td class="ed">шт</td>
                                    <td class="count">{{holder_count}}</td>
                                    <td class="price">{{Math.round(resultList.holder[result.material].price * holder_count)}}</td>
                                </tr>

                                <tr class="resLine" v-if="result.skate != ''">
                                    <td class="pos"></td>
                                    <td class="name">{{resultList.skate_holder[result.skate].name}}</td>
                                    <td class="ed">шт</td>
                                    <td class="count">{{measurements.skate_length}}</td>
                                    <td class="price">{{measurements.skate_length * resultList.skate_holder[result.skate].price}}</td>
                                </tr>
                                <tr class="resLine" v-for="obj in resultList.chimney[result.chimney]">
                                    <td class="pos"></td>
                                    <td class="name">{{obj.name}}</td>
                                    <td class="ed">шт</td>
                                    <td class="count">{{obj.count}}</td>
                                    <td class="price">{{obj.price}}</td>
                                </tr>
                                <tr class="resLine">
                                    <td class="pos"></td>
                                    <td class="name">{{resultList.facade_holder[result.facade].name}}</td>
                                    <td class="ed">шт</td>
                                    <td class="count">{{facade_holder}}</td>
                                    <td class="price">{{Math.round(resultList.facade_holder[result.facade].price * facade_holder)}}</td>
                                </tr>

                                <tr class="resLine" v-for="obj in resultList.priming_elements[result.priming]">
                                    <td class="pos"></td>
                                    <td class="name">{{obj.name}}</td>
                                    <td class="ed">{{obj.unit}}</td>
                                    <td class="count">{{obj.count}}</td>
                                    <td class="price">{{obj.price}}</td>
                                </tr>

                                <tr class="resLine" v-if="result.wires != 'Не знаю'">
                                    <td class="pos"></td>
                                    <td class="name">{{resultList.wires[result.wires].name}}</td>
                                    <td class="ed">шт</td>
                                    <td class="count">1</td>
                                    <td class="price">{{resultList.wires[result.wires].price}}</td>
                                </tr>

                                <tr class="resLine">
                                    <td class="pos"></td>
                                    <td class="name">Проволока ф8 оцинкованная</td>
                                    <td class="ed">кг</td>
                                    <td class="count">{{wire_length}}</td>
                                    <td class="price">{{Math.ceil(wire_length * 5.05)}}</td>
                                </tr>

                                <tr class="resSum">
                                    <td colspan="4" style="text-align: left;font-weight: bold;">Сумма</td>
                                    <td class="sum" style="text-align: right;font-weight: bold;">{{control_sum}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="mat_structure">Материал кровельных надстроек: <strong>{{result.superstructures}}</strong></p>  
                        <p class="electro">Способ ввода электропроводки в здание: <strong>{{result.grounding_sustem}}</strong></p> 
                        <p class="wires_count" v-if="result.wires == 'Не знаю'">Количество проводов: <strong></strong>{{result.wires}}</strong></p>
                    </div>
                </div>
                <div class="full_img_section" :class="{masked: isMasked}">
                    <div class="img_box">
                        <img v-if="mainRoof != '' " :src="fullImgPath">
                    </div>
                    <div class="steps_breadcrumbs">
                        <div class="steps_breadcrumb" v-if="result.shape != '' && currentStep >= 2">{{result.shape}} крыша</div>
                        <div class="steps_breadcrumb" v-if="result.material != '' && currentStep >= 3">{{result.material}}</div>
                        <div class="steps_breadcrumb" v-if="result.skate != '' && currentStep >= 4">{{result.skate}} конёк</div>
                        <div class="steps_breadcrumb" v-if="result.chimney != '' && currentStep >= 5">{{result.chimney}}</div>
                        <div class="steps_breadcrumb" v-if="result.facade != '' && currentStep >= 6">{{result.facade}} фасад</div>

                        <div class="steps_breadcrumb" v-if="currentStep >= 7">
                            <span v-if="measurements.skate_length !=0 ">{{measurements.skate_length}} м R1, </span>
                            <span v-if="measurements.house_height !=0 ">{{measurements.house_height}} м R2, </span>
                            <span v-if="measurements.slope_length !=0 ">{{measurements.slope_length}} м R3, </span>
                            <span v-if="measurements.first_chi_length !=0 ">{{measurements.first_chi_length}} м {{num[0]}}, </span>
                            <span v-if="measurements.second_chi_length !=0 ">{{measurements.second_chi_length}} м {{num[1]}}, </span>
                            <span v-if="measurements.third_chi_length !=0 ">{{measurements.third_chi_length}} м {{num[2]}}</span>
                        </div>
                    </div>
                </div>
                <div class="calc_bottom_bar">
                    <div class="btn prev_btn" v-if="currentStep > 1" @click="Step('Prev')">Шаг 
                        <span class="prev_step">{{currentStep - counterMinus}}</span> : 
                        <span class="prev_cat">{{steps['step_' + (currentStep - counterMinus) + '_name']}}</span> 
                    </div>

                    <div class="btn next_btn" v-if="currentStep < 8" @click="Step('Next')">Шаг 
                        <span class="next_step">{{currentStep + counterPlus}}</span> : 
                        <span class="next_cat">{{steps['step_' + (currentStep + counterPlus) + '_name']}}</span>
                    </div>

                    <a href="/" class="btn payment_btn" v-if="currentStep == 8" @click.prevent="toPayment()">
                        Оплата
                    </a>

                    <div class="btn pdf_btn" v-if="currentStep == 8" @click="savePdf()">
                        Скачать PDF
                    </div>
                </div>
            </div>
        </main> 
        <script src="html2canvas.js"></script>
        <script src="pdfmake.min.js"></script>
        <script src="vfs_fonts.js"></script>
        <script src="fonts/Roboto.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> 
        <script src="jq.js"></script>
        <script src="scripts.js"></script>
</body>
</html>
